.ratingsPageWrapper {
    background-color: var(--color-main-navy);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.mainContent {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;

    background-color: var(--color-main-navy-dark);
    padding: var(--space-m);
}