.movieAddOrEditPageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main-navy);
    padding: 50px 50px 100px;
}

.movieAddOrEditPageWrapper button.wide {
    width: 60%;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: auto;
}

.formContainer {
    display: flex;
    flex-direction: column;

    margin: 0;
    background: var(--color-main-navy-dark);
    box-shadow: none;
}

.formInput {
    background: var(--color-main-navy);
    width: 700px;
}

.formInputDescription {
    width: 700px;
    height: 150px;
}

.formInputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formButtonsEtc {
    margin-top: var(--space-m);
}

.movieAddOrEditPageWrapper input {
    color: var(--color-text);
}

.movieAddOrEditPageWrapper input[type="file"] {
    width: 275px;
}

.movieAddOrEditPageWrapper input[type=date] {
    width: 150px;
}