@layer base, views;

@layer views {
    .comment .action-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: var(--space-m);
        padding-left: var(--space-m);
        border-left: 1px solid var(--color-main-navy);
    }

    main {
        background-color: var(--color-main-navy);
        padding: 50px 50px 100px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        width: 1000px;

        padding: var(--space-m);
    }

    .media-rating {
        justify-content: flex-start;
        width: auto;
    }

    .media-rating h1 {
        margin: 0;
    }

    .media-rating h2 {
        font-size: 100%;
        margin: 0;
    }

    .rating-score {
        font-size: 75%;
    }

    .rating-scale {
        font-size: 50%;
    }

    .rating-stars {
        font-size: 75%;
    }

    .form-container {
        background-color: var(--color-main-navy-dark);
        box-shadow: none;

        margin: 0;
    }

    input {
        width: auto;
        height: auto;
    }

    form {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    form button {
        margin: var(--space-s) 0;
    }

    .movie-details-page textarea {
        background: var(--color-main-navy);
        color: var(--color-text);
        resize: none;
        width: 95%;
        height: 200px;
        font-size: 18px;
        padding: var(--space-s);
        border-radius: var(--border-radius-s);
        margin-bottom: var(--space-s);
    }

    .movie-details-page .rating-scale-container {
        display: flex;
        flex-direction: row;
        gap: var(--space-s);
    }

    .movie-details-page .radio-item-vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .movie-details-page .rating-radio-group h3 {
        margin-bottom: var(--space-xs);
    }
}