body {
    background-image: none;
    background-color: var(--color-main-navy);
}

form {
    display: flex;
    flex-direction: column;
}

main {
    justify-content: flex-start;
    align-items: flex-start;
}

.main-content {
    flex-direction: column;
    align-items: flex-start;

    background-color: var(--color-main-navy-dark);
    width: 80%;
}

.main-content > * {
    margin: 0;
}

.media-rating {
    border-left: 1px solid var(--color-main-navy);
}

.form-container-unstyled {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-inputs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}